@model Dish

<h1>Edit a Dish</h1>

<form asp-action="DishUpdate" asp-controller="Dish" asp-route-id="@Model.DishId" method="post">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" value="@Model.Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Calories"></label>
        <input asp-for="Calories" class="form-control" value="@Model.Calories">
        <span asp-validation-for="Calories" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Tastiness"></label>
        <input asp-for="Tastiness" class="form-control" value="@Model.Tastiness">
        <span asp-validation-for="Tastiness" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" value="@Model.Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <button class="btn btn-success">Edit Dish</button>
    </div>
</form>